__pycache__/

# Temporary files
*.pyc
*~
*.py~

# Emacs temporary files
\#*\#

# Data files
*.fits*

# Other files
*.sh
config.py
requirements.txt
requirements.lock.txt

# Other folders
scripts/
*.egg-info/

# Virtual Environments
.venv/